@import 'styles/root.css';
@import 'styles/home.css';
@import 'styles/modal.css';
@import 'styles/home_app.css';

@media screen and (max-width: 700px) {
  .home > img {
    width: 400px;
  }

  .categories > h2 {
    font-size: 1.8rem;
  }

  .ape_gif {
    max-height: 250px;
    max-width: 250px;
  }

  .modal > p {
    font-size: 1rem;
  }

  .add {
    font-size: 1rem;
  }

  .under_wrap > img {
    width: 230px;
  }

  .soon {
    font-size: 2.5rem;
  }

  .home_app > h1 {
    font-size: 3rem;
    width: 300px;
  }

  .home_app > img {
    max-height: 280px;
    max-width: 280px;
  }

  .modal {
    overflow-y: auto;
  }
}

@media screen and (max-width: 580px) {
  .under_wrap > img {
    width: 200px;
  }

  .ape_gif {
    max-height: 230px;
    max-width: 230px;
  }
}

@media screen and (max-width: 495px) {
  .home > img {
    width: 300px;
  }

  .under_wrap > img {
    width: 160px;
  }

  .ape_gif {
    max-height: 200px;
    max-width: 200px;
  }
}

@media screen and (max-width: 410px) {
  .under_wrap > img {
    width: 130px;
  }

  .ape_gif {
    max-height: 180px;
    max-width: 180px;
  }
}

@media screen and (max-width: 345px) {
  .under_wrap > img {
    width: 110px;
  }
}
