@import 'styles/root.css';
@import 'styles/home.css';
@import 'styles/modal.css';
@import 'styles/home_app.css';

@media screen and (max-width: 700px) {
  .home > img {
    width: 300px;
  }

  .categories > h2 {
    font-size: 1.8rem;
  }

  .ape_gif {
    max-height: 220px;
    max-width: 220px;
  }

  .modal > p {
    font-size: 1.1rem;
  }

  .add {
    font-size: 1.1rem;
  }

  .under_wrap > img {
    width: 160px;
  }

  .soon {
    font-size: 2.5rem;
  }

  .home_app > h1 {
    font-size: 3rem;
    width: 300px;
  }

  .home_app > img {
    max-height: 280px;
    max-width: 280px;
  }

  html,
  body {
    position: fixed;
    height: 100vh;
  }
}
