.home_app {
  background-color: black;
  background: url('') center no-repeat;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_app > h1 {
  z-index: 5;
  color: black;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  font-size: 5rem;
  color: white;
  animation: typing 2.5s steps(13), blinking 0.5s step-end infinite alternate;
}

.home_app > img {
  max-width: 500px;
  max-height: 500px;
  display: block;
}

.back {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  max-height: 50px;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  left: 2%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 640px) {
  img {
    max-height: 300px;
    max-width: 300px;
  }
  h1 {
    font-size: 4rem;
    width: 365px;
  }
}

@media screen and (max-width: 500px) {
  img {
    max-height: 200px;
    max-width: 200px;
  }
  h1 {
    font-size: 3rem;
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
    width: 190px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.6rem;
    width: 150px;
  }
}
