.home {
  height: 100vh;
  background-color: black;
  background: url('https://cdn.discordapp.com/attachments/1012437245287997480/1025712677185650728/backgr.gif')
    center no-repeat;
  padding-top: 10px;
}

.home > h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  filter: drop-shadow(0px 0px 4px black) drop-shadow(0px 0px 8px white);
}

.home > img {
  max-width: 500px;
  width: 70%;
  height: 50%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
  animation: 2.5s infinite blinkin;
}

.home > img:hover {
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px white);
  animation: none;
}

.categories {
  max-width: 300px;
  margin: 20px auto 0 auto;
}

.categories > h2 {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

h2 > a {
  color: white;
  text-decoration: none;
}

.categories > h2:hover:not(:last-child) {
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px white);
  animation: 1.5s infinite blinkin;
}

.link {
  width: 300px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.link > a {
  color: white;
  font-size: 3rem;
  margin-right: 20px;
}

.link > a:last-child {
  margin-right: 0;
}

.link > a:hover {
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px white);
  animation: 1.5s infinite blinkin;
}

@keyframes blinkin {
  10% {
    opacity: 0.4;
  }
  15% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.8;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  35% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.1;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(128, 128, 128, 0.6);
  border-radius: 50%;
  border-left-color: rgb(66, 66, 66);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.app {
  border-radius: 15px;
  padding: 2px 20px;
}

.categories > h2:hover:last-child {
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px white);
}

.app > h2 > a {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

.bnc {
  position: relative;
  top: 7px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.bnc:nth-child(2) {
  animation-delay: 0.1s;
}

.bnc:nth-child(3) {
  animation-delay: 0.2s;
}

.bnc:nth-child(4) {
  animation-delay: 0.3s;
}

.bnc:nth-child(5) {
  animation-delay: 0.4s;
}

/* ANIMATION */

@keyframes bounce {
  100% {
    top: -7px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
